<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body class="container">
    <%- include('./partials/navbar') %> <br><br><br>
<div>
    <h2>Hi <%= dataUser.Profile.name %></h2>
    <p>Rata - rata level penyakit pasien anda adalah <%= Math.round(diseaseLevel[0].dataValues.avglevel) %></p>
    <a href="/admin/?sortBy=name" class="button">Sort By Name</a><br>
    <form action="/admin" method="get">
        <input
          type="text"
          class="keyword"
          placeholder="Search your patient here"
          name="search"
          autocomplete="off"
        />
        <button type="submit" class="button">SEARCH</button>
      </form>


</div>
<div >
    <a href="/admin/formAdd" class="button-b">Add new Doctor here</a>
</div>
    <h2 style="display: flex; justify-content: center;">Patient List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Location</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        <% dataPasien.forEach(el=> { %>
            <tr>
                <td>
                    <%= el.name %>
                </td>
                <td>
                    <%= el.age %>
                </td>
                <td>
                    <%= el.location %>
                </td>
                <td>
                    <%= el.gender %>
                </td>
                <td>
                    <form >
                        <a href="/admin/detail/<%=el.UserId%>" class="button">Detail Account</a>
                        <a href="/admin/delete/<%=el.UserId%>" class="button">Delete Account</a>
                        <a href="/admin/addNewDisease/<%=el.id%>" class="button">Add a new Disease</a>
                    </form>
                </td>
            </tr>
            <% }) %>

    </table>

</body>

</html>