<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Data</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %> 
    <h1 style="padding: 1px 0 1px 0; color: cadetblue">
        Selamat datang <%= res1.userName %>, Dr.<%= res2.Profile.name %> specialist <%= res2.specialist %> akan membantumu
    </h1>
    <div>
        <table>

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Location</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <%= res1.Profile.name%>
                        </td>
                        <td>
                            <%= res1.Profile.age %>
                        </td>
                        <td>
                            <%= res1.Profile.location %>
                        </td>
                        <td>
                            <%= res1.Profile.gender %>
                    </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button><a href="/patient/editPatient/<%= res1.Profile.id %>">Edit User and Profile</a></button>
    </div>
            <table class="incubators">

                <thead>
                    <tr>
                        <th>List of Disease</th>
                        <th>Description</th>
                        <th>Level</th>


                    </tr>
                </thead>
                <tbody>
                    <% res1.Profile.Patient.Diseases.forEach(el=> { %>
                        <tr>
                            <td>
                                <%= el.nameDisease%>
                            </td>
                            <td>
                                <%= el.description %>
                            </td>
                            <td>
                                <%= el.level %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <br><br>
    <div>
        Anda mempunyai <%= res1.Profile.Patient.Diseases.length %> penyakit
    </div>
    <div>
        <% if ((res1.Profile.Patient.Diseases.length) < 3) { %>
            status kesehatan anda mulai membaik
        <% } else if ( (res1.Profile.Patient.Diseases.length) > 3  && (res1.Profile.Patient.Diseases.length) < 7) { %>
            status kesehatan anda memburuk
        <% } else { %> 
            status kesehatan anda dalam kondisi kritis
        <% } %> 
    </div>
              
</body>

</html>